<div class="container main-box">
  <div class="form-container">

    <div class="heading-box">
      <h1>Welcome to Appraisal <br> 2023</h1>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="input-box">
        <mat-form-field appearance="outline">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" required>
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="EmailControl.invalid">{{EmailError}}</mat-error>
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="PasswordControl.invalid">{{PasswordError}}</mat-error>
        </mat-form-field>
      </div>

      <div class="two-things">
        <mat-checkbox>Remember me</mat-checkbox>
        <button mat-button color="primary">Forgot Password?</button>
      </div>

      <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
  </div>

</div>