<mat-sidenav-container class="example-container" autosize>
  <mat-icon [ngClass]="{'rotated-left-right' : !isExpanded}" (click)="isExpanded = !isExpanded"
    class="sidenav-menu">chevron_left</mat-icon>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item class="mt-2 mb-5">
        <img src="./../../../../assets/images/HRIS-logo.svg" class="logo" [ngClass]="isExpanded ? 'large-logo' : 'small-logo'">
      </mat-list-item>

      <mat-list-item *ngFor="let navItem of (sideNav$ | async)" (click)="showSubmenu = false" [routerLink]="navItem.route" [routerLinkActive]="navItem.routeLinkActive">
        <span class="full-width" *ngIf="isExpanded || isShowing">{{navItem.name}}</span>
        <mat-icon mat-list-icon>{{navItem.icon}}</mat-icon>
      </mat-list-item>

      <!-- <mat-list-item (click)="showSubmenu = !showSubmenu" class="">
        <span class="full-width" *ngIf="isExpanded || isShowing">Menu2</span>
        <mat-icon mat-list-icon>commute</mat-icon>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}"
          *ngIf="isExpanded || isShowing">expand_more</mat-icon>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <mat-list-item routerLink="/first" routerLinkActive="active">First</mat-list-item>
        <mat-list-item routerLink="/second" routerLinkActive="active">Second</mat-list-item>
      </div> -->


    </mat-nav-list>
  </mat-sidenav>

  <ng-content></ng-content>

</mat-sidenav-container>


