<div class="heading-box">
    <h1 class="heading">Add Agency</h1>
    <p class="cross-btn"><mat-icon>clear</mat-icon>Click to hide Add Agency</p>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="row">
        <div class="col">
            <div class="input-box">
                <mat-form-field appearance="outline">
                    <mat-label>Agency Name</mat-label>
                    <input matInput placeholder="" formControlName="agencyName" required>
                    <mat-error *ngIf="AgencyNameControl.invalid">{{AgencyNameError}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="col">
            <div class="input-box">
                <mat-form-field appearance="outline">
                    <mat-label>Agency Location</mat-label>
                    <input matInput placeholder="" formControlName="agencyLocation" required>
                    <mat-error *ngIf="AgencyNameControl.invalid">{{AgencyNameError}}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>





    <button type="submit" class="btn btn-primary">Sign In</button>
</form>