table {
  width: 100%;
  box-shadow: none;
}
.add-employee-button {
  background-color: #4ca3fb;
  color: white !important;
  display: flex;
  float: right;
  margin-top: -48px;
}
.add-employee-button:hover{
  background-color: #4ca3fb;
  color: white !important;
}

::ng-deep .mat-paginator-container {
  justify-content: center !important;
}

.select-status {
  padding: 8px 3px 7px 3px;
  border-radius: 8px;
  border: 1px solid rgba(177, 177, 177, 0.3);
  background: rgba(255, 255, 255, 0.2);
  width: 50%;
}

.heading {
  font-family: Poppins;
  line-height: normal;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #000;
}


