

<div class="heading-line">
    <h1 class="main-heading">Self Annual Apraisal</h1>
</div>
<form class="example-form" [formGroup]="selfAppraisalForm" (ngSubmit)="onSubmit()">
    <div class="row box-height">
        <mat-form-field appearance="outline" class="input-box col">
            <mat-label class="textsize">Name</mat-label>
            <input class="textsize" matInput placeholder="Name" formControlName="name" required />
            <mat-error>abc</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-box col">
            <mat-label class="textsize">Location/Office</mat-label>
            <input class="textsize" matInput placeholder="Location/Office" formControlName="location" required />
            <mat-error>abc</mat-error>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline" class="input-box col">
            <mat-label class="textsize">Position</mat-label>
            <mat-select required formControlName="position">
                <mat-option *ngFor="let option of dropdownOptions" [value]="option.value" class="textsize">
                    {{ option.label }}
                </mat-option>
            </mat-select>
            <mat-error>abc</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-box col">
            <mat-label>Date</mat-label>
            <input matInput formControlName="date" placeholder="Select a date" />
            <!-- <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>    -->
            <mat-error>abc</mat-error>
        </mat-form-field>
    </div>
</form>
<!-- ***************************** Add Details *************** -->
<div>
    <p class="add-details">Add Details</p>
</div>
<div class="row" style="padding: 9px">
    <div class="objective-boxing mb-5" *ngFor="let objective of objectives; let i = index">
        <div class="text-container">
            <h2 class="objective-text">{{ objective.name }}</h2>
            <img src="../../../../assets/icons/objective_plus_icon.svg" alt="plus" (click)="toggleObjective(i)" />
        </div>
        <div class="objective-content" [ngClass]="{ expanded: isExpanded(i) }">
            <div class="outer-container">
                <div class="inner-container">
                    <h4>Objective</h4>
                    <textarea rows="4" [ngModel]="objective.content.objective"
                        (ngModelChange)="objective.content.objective = $event" [name]="'objective-' + i"
                        class="text-area textsize"></textarea>
                </div>
            </div>
            <div class="outer-container">
                <div class="inner-container">
                    <h4>Key Performance Indicators</h4>
                    <textarea rows="4" [ngModel]="objective.content.keyPerformanceIndicators"
                        (ngModelChange)="objective.content.keyPerformanceIndicators = $event" [name]="'kpi-' + i"
                        class="text-area textsize"></textarea>
                </div>
            </div>
            <div>

                <div class="outer-container">
                    <div class="inner-container">
                        <h4>Actual Performance</h4>
                        <textarea rows="4" [ngModel]="objective.content.actualPerformance"
                            (ngModelChange)="objective.content.actualPerformance = $event" [name]="'actual-' + i"
                            class="text-area textsize"></textarea>
                    </div>

                </div>

                <div class="row" style="margin-top: -60px">
                    <mat-form-field appearance="outline" class="input-box col-6 score-padding">
                        <mat-label class="textsize">Score</mat-label>
                        <mat-select [ngModel]="objective.content.score"
                            (ngModelChange)="objective.content.score = $event" [name]="'score' + i">
                            <mat-option *ngFor="let option of score" [value]="option.value" class="textsize">
                                {{ option.label }}
                            </mat-option>
                        </mat-select>
                        <mat-error>abc</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="input-box col-6 score-padding">
                        <mat-label>Self Scoor</mat-label>
                        <input class="textsize" matInput placeholder="Name" [ngModel]="objective.content.selfScore"
                            (ngModelChange)="objective.content.selfScore = $event" [name]="'selfScore' + i" required />
                        <mat-error>abc</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="input-box  col-6 manager-score">
                        <mat-label>Manager Scoor</mat-label>
                        <input class="textsize" matInput placeholder="Name" [ngModel]="objective.content.managerScore"
                            (ngModelChange)="objective.content.managerScore = $event" [name]="'managerScore' + i"
                            required />
                        <mat-error>abc</mat-error>
                    </mat-form-field>
                </div>

            </div>

        </div>
    </div>
</div>
<button mat-button class="save-button" (click)="onSubmit()">Save and continue</button>

<!-- ******************************Custom Toaster *********************** -->


<!-- ********************************************************************************* -->