<div class="heading-line">
    <h1 class="main-heading">Self Annual Apraisal</h1>
</div>
<form  class="example-form" [formGroup]="selfAppraisalForm">
    <div class="row box-height">
        <mat-form-field appearance="outline" class="input-box col">
            <mat-label class="textsize">Name</mat-label>
            <input class="textsize" matInput placeholder="Name" formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-box col">
            <mat-label class="textsize">Location/Office</mat-label>
            <input class="textsize" matInput placeholder="Location/Office" formControlName="location" />
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline" class="input-box col">
            <mat-label class="textsize">Position</mat-label>
            <input class="textsize" matInput placeholder="position" formControlName="position" />

        </mat-form-field>
        <mat-form-field appearance="outline" class="input-box col">
            <mat-label>Date</mat-label>
            <input matInput formControlName="date" placeholder="Select a date" />
        </mat-form-field>
    </div>
</form>
<div>
    <p class="add-details">Add Details</p>
</div>
<div class="row" style="padding: 9px">
    <div class="objective-boxing mb-5" *ngFor="let objective of objectives; let i = index">
        <div class="text-container">
            <h2 class="objective-text">{{ objective.name }}</h2>
            <img src="../../../../assets/icons/objective_plus_icon.svg" alt="plus" (click)="toggleObjective(i)" />
        </div>
        <div class="objective-content" [ngClass]="{ expanded: isExpanded(i) }">
            <div class="outer-container">
                <div class="inner-container">
                    <h4>Objective</h4>
                    <textarea rows="4" [ngModel]="objective.content.objective"
                        (ngModelChange)="objective.content.objective = $event" [name]="'objective-' + i"
                        class="text-area textsize" [disabled]="disable"></textarea>
                </div>
            </div>
            <div class="outer-container">
                <div class="inner-container">
                    <h4>Key Performance Indicators</h4>
                    <textarea rows="4" [ngModel]="objective.content.keyPerformanceIndicators"
                        (ngModelChange)="objective.content.keyPerformanceIndicators = $event" [name]="'kpi-' + i"
                        class="text-area textsize" [disabled]="disable" ></textarea>
                </div>
            </div>
            <div>

                <div class="outer-container">
                    <div class="inner-container">
                        <h4>Actual Performance</h4>
                        <textarea rows="4" [ngModel]="objective.content.actualPerformance"
                            (ngModelChange)="objective.content.actualPerformance = $event" [name]="'actual-' + i"
                            class="text-area textsize" [disabled]="disable "></textarea>
                    </div>
                </div>

                <div class="row" style="margin-top: -60px">
                    <mat-form-field appearance="outline" class="input-box col-6 score-padding">
                        <mat-label class="textsize">Score</mat-label>
                        <input matInput [ngModel]="objective.content.score"
                            (ngModelChange)="objective.content.score = $event" [name]="'score' + i" disabled>
                    </mat-form-field>

                    <div class="col-md-6 ">

                        <mat-form-field appearance="outline" class="input-box col-md-12  score-padding">
                            <mat-label>Self Score</mat-label>
                            <input class="textsize" matInput placeholder="Self Score" type="number"
                                [ngModel]="objective.content.selfScore"
                                (ngModelChange)="selfScoreValue($event, objective.content.score,i)"
                                [name]="'selfScore' + i" required [disabled]="disableSelfScore">
                        </mat-form-field>
                        <mat-error style="position: relative;
                            margin-top: -38px;" *ngIf="objective.isValueGreaterThanScore">Self score should not be
                            greater then Score </mat-error>
                    </div>

                    <mat-form-field appearance="outline" class="input-box  col-6 manager-score" *ngIf="userId !== curtentUserId && role==='Manager'">
                        <mat-label>Manager Score</mat-label>
                        <input class="textsize" matInput placeholder="Manager Score" 
                        [ngModel]="objective.content.managerScore"
                        (ngModelChange)="managerScoreValue($event, objective.content.score,i)"
                             [name]="'managerScore' + i"
                            [disabled]="disable" required />
                    </mat-form-field>
                    <mat-error style="position: relative;
                    margin-top: -38px;" *ngIf="objective.isManagerScoreGreaterThanScore">Manager score should not be
                    greater then Score </mat-error>

                    <mat-form-field appearance="outline" class="input-box  col-6 manager-score" *ngIf="role==='CEO'">
                        <mat-label>CEO Score</mat-label>
                        <input class="textsize" matInput placeholder="CEO Score" 
                        [ngModel]="objective.content.CEOScore"
                        (ngModelChange)="CEOScoreValue($event, objective.content.score,i)"
                             [name]="'CEOScore' + i"
                            [disabled]="disable" required />
                    </mat-form-field>
                    <mat-error style="position: relative;
                    margin-top: -38px;" *ngIf="objective.isCEOScoreGreaterThanScore  && role==='CEO'">CEO score should not be
                    greater then Score </mat-error>
                </div>
          
            </div>

        </div>
    </div>
    <div style=" padding: 0;"> 
        <button mat-button  class="save-button" (click)="saveData()" *ngIf="!disable">Save and continue</button>
        <button mat-button class=" nextbutton" (click)="nextPage()" *ngIf="disable">Next</button>

    </div>
</div>
