.input-box {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.box-height {
  margin-bottom: -38px;
}
:host ::ng-deep mat-form-field .mat-form-field-outline-start {
  background-color: #f8f9fa !important;
}

:host ::ng-deep mat-form-field .mat-form-field-outline-gap {
  background-color: #f8f9fa !important;
}

:host ::ng-deep mat-form-field .mat-form-field-outline-end {
  background-color: #f8f9fa !important;
}

.main-heading {
  margin-bottom: 3px;
  font-family: Poppins;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: left;

}
.ptext {
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  color: #494949;
}
.text-styling {
  padding-top: 1rem;
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins;
  color: #000000;
  max-width: 490px;
}

.box-container {
  display: flex;
  justify-content: flex-start;
}

.box {
  width: 44.03px;
  height: 44.03px;
  background-color: #cccccc;
  border-radius: 7px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 26px;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins;
}

.box.selected {
  background-color: #4ca3fb;
}
.bottom-space {
  margin-bottom: 21px;
}
.total-box-container {
  display: flex;
  justify-content: center;
}

.total-box {
  width: 100px;
  height: 50px;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.total-box {
  width: 58px;
  height: 44.03px;
  background-color: #cccccc;
  border-radius: 7px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins;
}

.comment-text {
  margin: 0px;
  color: #696f79;
  font-size: 16px;
  font-weight: 500;
  font-family: Inter;
}
.comments-textarea {
  background: #f8f9fa !important;
  // border: #f8f9fa !important;
  border: 1px solid #b2b2b2;
}
.buttons-section {
  margin-top: 21px;
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
}

.go-back {
  color: #4ca3fb;
  background-color: #4ca3fb;
  color: white !important;
  border: 1px solid #4ca3fb;
  text-align: center;
}
.save-button {
  background-color: #4ca3fb;
  color: white !important;
  margin-right: 22px;
  text-align: center;
}
.disableButton {
  background-color: #cccccc;
  color: white !important;
  margin-right: 22px;
  text-align: center;
}

h4 {
  margin: 0px 0px 0px 0px;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
  color: #242731;
}

.text-area {
  width: 100%;
  height: 157px;
  resize: none;
  background: #b2b2b2;
  border: 1px solid #b2b2b2;
  border-radius: 6px;
  padding: 20px;
  margin-top: 1rem;
}
.textsize {
  font-size: 14px;
  line-height: 16.94px;
  font-family: Inter;
  font-weight: 500;
  color: black;
  font-family: Poppins;
}
.competency-styling {
  font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}
.example-form {
  margin-top: -24px;
}

