<div>
  <h1 class="main-heading">Add Employee</h1>
  <div class="close-modal" (click)="close()">
    <mat-icon>highlight_off</mat-icon>
  </div>
  <p class="ptext">
    <img src="../../../../assets/icons/closeIcon.svg" class="closeIcon" />
    <span class="cursor-pointer"> Click to hide Add Employee</span>
  </p>
</div>
<form [formGroup]="employeeForm">
 
  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field input-box">
      <mat-label>Select Agency</mat-label>
      <mat-select formControlName="agency">
        <mat-option
          *ngFor="let option of AgenciesList$ | async"
          [value]="option?.id"
          class="textsize">
          {{ option.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="submitted &&  AgencyFormControl.invalid && AgencyFormControl.touched">Please enter the agency/office.</mat-error>
    </mat-form-field>

    <!-- <mat-form-field appearance="outline" class="form-field input-box">
      <mat-label>Select Agency Office</mat-label>
      <mat-select formControlName="location">
        <mat-option
          *ngFor="let option of AgenciesList$ | async"
          [value]="option?.id"
          class="textsize">
          {{ option.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="submitted &&  AgencyFormControl.invalid && AgencyFormControl.touched">Please
        enter the
        agency/office.</mat-error>
    </mat-form-field> -->
    <mat-form-field appearance="outline"   class="form-field input-box">
      <mat-label>Location / Office</mat-label>
      <input
        matInput
        type="text"
        placeholder="Location / Office"
        formControlName="location" />
      <mat-error
        *ngIf="submitted && LocationFormControl.invalid && LocationFormControl.touched">Please
        enter the
        location/office.</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field input-box">
      <mat-label>First Name</mat-label>
      <input
        matInput
        placeholder="First Name"
        formControlName="firstName" />
      <mat-error
        *ngIf="FirstNameFormControl.invalid && FirstNameFormControl.touched">Please
        enter the first
        name.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field input-box">
      <mat-label>Middle Name</mat-label>
      <input matInput placeholder="Middle Name" formControlName="middleName" />
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field input-box">
      <mat-label>Last Name</mat-label>
      <input
        matInput
        placeholder="Last Name"
        formControlName="lastName" />
      <mat-error
        *ngIf="submitted &&  LastNameFormControl.invalid && LastNameFormControl.touched">Please
        enter the last name.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field input-box"
      style="margin-bottom: 2.5rem;">
      <mat-label>Date of Joining</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Date/Month/Year"
        formControlName="dateOfJoining" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error
        *ngIf="submitted &&  DateOfJoiningFormControl.invalid && DateOfJoiningFormControl.touched">Please
        enter the Date.</mat-error>

    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field input-box">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option
          *ngFor="let option of roles"
          [value]="option.value"
          class="textsize">
          {{ option.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="submitted &&  RoleFormControl.invalid && RoleFormControl.touched">Please
        enter the role.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field input-box">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="email" />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="submitted &&  EmailFormControl.invalid && EmailFormControl.touched">Please
        enter a valid email
        address.</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field
      appearance="outline"
      class="form-field input-box designation-input">
      <mat-label>Designation</mat-label>
      <mat-select formControlName="designation">
        <mat-option
          *ngFor="let option of designation"
          [value]="option.value"
          class="textsize">
          {{ option.label }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="submitted &&  DesignationFormControl.invalid && DesignationFormControl.touched">Please
        select designation</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field input-box">
      <mat-label>Phone Number</mat-label>
      <input
        matInput
        placeholder="Phone Number"
        formControlName="phoneNo" />
    </mat-form-field>
  </div>

  <button  class="add-employee-button" (click)="submitForm()">
    Add Employee
  </button>
</form>
