<div class="heading-line" style="padding: 1rem 0rem">
  <h1 class="main-heading">Add Employee</h1>
  <p class="ptext">
    <img src="../../../../assets/icons/closeIcon.svg" class="closeIcon" />
    <span class="cursor-pointer"> Click to hide Add Employee</span>
  </p>
</div>
<form [formGroup]="employeeForm" (ngSubmit)="submitForm()">
  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field input-box">
      <mat-label>Select Agency / Office</mat-label>
      <mat-select formControlName="agency" required>
        <mat-option
          *ngFor="let option of agencies"
          [value]="option.value"
          class="textsize">
          {{ option.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="isFieldInvalid('agency')">Please enter the
        agency/office.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field input-box">
      <mat-label>Location / Office</mat-label>
      <mat-select formControlName="location" required>
        <mat-option
          *ngFor="let option of officeLocation"
          [value]="option.value"
          class="textsize">
          {{ option.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="isFieldInvalid('location')">Please enter the
        location/office.</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field input-box">
      <mat-label>First Name</mat-label>
      <input
        matInput
        placeholder="First Name"
        formControlName="firstName"
        required />
      <mat-error *ngIf="isFieldInvalid('firstName')">Please enter the first
        name.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field input-box">
      <mat-label>Middle Name</mat-label>
      <input matInput placeholder="Middle Name" formControlName="middleName" />
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field input-box">
      <mat-label>Last Name</mat-label>
      <input
        matInput
        placeholder="Last Name"
        required
        formControlName="lastName" />
      <mat-error *ngIf="isFieldInvalid('lastName')">Please enter the last name.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field input-box">
      <mat-label>Date of Joining</mat-label>
      <input
        matInput
        placeholder="Date/Month/Year"
        formControlName="dateOfJoining" />
      <img
        class="date-Icon"
        matSuffix
        src="../../../../assets/icons/dateIcon.svg" />
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field input-box">
      <mat-label>Role</mat-label>
      <mat-select required formControlName="role">
        <mat-option
          *ngFor="let option of roles"
          [value]="option.value"
          class="textsize">
          {{ option.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="isFieldInvalid('role')">Please enter the role.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field input-box">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="email"
        required />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="isFieldInvalid('email')">Please enter a valid email
        address.</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field
      appearance="outline"
      class="form-field input-box designation-input">
      <mat-label>Designation</mat-label>
      <mat-select required formControlName="designation">
        <mat-option
          *ngFor="let option of designation"
          [value]="option.value"
          class="textsize">
          {{ option.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="isFieldInvalid('designation')">Please select designation</mat-error>
    </mat-form-field>
  </div>

  <button mat-raised-button class="add-employee-button" type="submit">
    Add Employee
  </button>
</form>
